/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration: none;
	color: #000000;
}
/** end reset css**/
body {
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header,
main,
footer {
	max-width: 1140px;
	margin: auto;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px auto
}
section {
	margin: 50px 0;
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li a:hover {
	color: #B1663C;
}

.login-page {
	font-weight: 600;
}

#introduction {
	display: flex;
	align-items: center;
	margin-bottom: 139px;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

/* filters */

.filters {
	text-align: center;
	margin-bottom: 50px;
}

.btn-filter {
	margin-right: 10px;
	min-width: 100px;
	padding: 9px;
	background-color: transparent;
	border: 1px solid #1D6154;
	border-radius: 60px;
	color: #1D6154;
	font-family: 'Syne';
	font-size: 16px;
	font-weight: 700;
	cursor: pointer;
	transition: all .3s ease;
	outline: none;
}

.btn-filter.active,
.btn-filter:hover {
	background-color: #1D6154;
	color: #FFFFFF;
}

.btn-filter:last-child {
	margin-right: 0;
}

/* Gallery */

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

/* Contact Form */

#contact,
#login {
	width: 50%;
margin: auto;
}
#contact > *,
#login > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form,
#login form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input,
#login input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label,
#login label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
	cursor: pointer;
	transition: all .3s ease;
}

input[type="submit"]:hover {
	background-color: #0E2F28;
}

/* Login */

.login-main {
	height: 100vh;
}

.login-error {
	color: #ff0000;
	margin-bottom: 30px;
}

#login .passe-oublie {
	text-align: center;
	text-decoration: underline;
	font-size: .875rem;
	font-weight: 500;
	font-family: 'Work Sans';
}

#login .passe-oublie:hover {
	color: #B1663C;
}

/* After login elements */

.edit-mode-header {
	display: none;
	align-items: center;
	justify-content: center;
	gap: 12px;
	width: 100%;
	height: 59px;
	background-color: #000000;
}

.edit-mode-header p {
	color: #FFFFFF;
	font-family: 'Work Sans';
	font-size: .875rem;
}

.title {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 31px;
}

.title .edit-button {
	margin-bottom: 30px;
	display: none;
	align-items: center;
	gap: 10px;
	background-color: transparent;
	border: none;
	font-family: 'Work Sans';
	font-size: .875rem;
}

/* Footer */

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

